.tabs_wrap {
	margin: 20px 20px 20px 0;
}

.tabs_wrap > li {
	list-style: none;
    background-color: #eee;
    padding: 5px 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.search_wrap {
	margin: 20px 20px 20px 0;
}

.search_wrap .btn {
	background-color: #eee;
    padding: 3px 15px;
    outline: none;
}

.search_wrap .left {
	margin-right: 20px;
}

.search_wrap .left label{
	margin-right: 10px;
}

.search_wrap .left input{
	outline: none;
}

.list_wrap {
	min-width: 1000px;
  list-style: none;
}

.list_wrap li {
	height: 200px;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.list_wrap .intro {
	width: 85%;
}

.list_wrap .intro p {
	margin: 0;
}

.list_wrap .intro p label{
	margin-right: 10px;
}

.list_wrap .intro p span{
	color: #9d9d9d;
}

.list_wrap .intro .summary{
	max-height: 68px;
    overflow-y: hidden;
}

.page_wrap {
	position: relative;
	margin: 30px;
}

.page_wrap >span {
	position: absolute;
	top: 0;
	display: inline-block;
	width: 50px;
	text-align: center;
	cursor: pointer;
}

.page_wrap .page_up {
	left: 0;
}

.page_wrap .page_down {
	right: 0;
}

.page_wrap p{
	text-align: center;
}




